.elements {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-auto-rows: auto;
  gap: 20px 17px;
  list-style-type: none;
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
  }
}