.element {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
}

.element__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.element__trash {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  transition: .3s;
}

.element__trash:hover {
  opacity: .6;
  transform: scale(1.3);
}

.element__info {
  margin: 25px 15px 31px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.element__like {
  padding: 0;
  display: block;
  min-width: 21px;
  height: 19px;
  background: url("../src/assets/Like_Icon.svg");
  border: none;
  cursor: pointer;
  transition: .3s;
}

.element__like:hover {
  opacity: .5;
  transform: scale(1.3);
}

.element__like_active {
  background: url("../src/assets/Liked_Icon.svg");
}