.page {
  background-color: #000;
}

.page__content {
  margin: auto;
  padding: 45px 0 60px;
  width: 100%;
  max-width: 880px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .page {
    padding: 28px 0 36px;
  }
}