.page {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #000;
}

.page__content {
  box-sizing: border-box;
  margin: 0 19px;
  padding: 45px 0 60px;
  width: 100%;
  max-width: 880px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  overflow-y: overlay;
}

@media screen and (max-width: 576px) {
  .page__content {
    padding: 28px 0 36px;
  }
}