.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0008;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

.popup_open{
  display: flex;
}

.popup__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__form {
  position: relative;
  padding: 34px 36px 36px;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px #00000026;
  color: #000;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
}

.popup__field {
  position: relative;
  width: 100%;
}

.popup__input {
  padding: 0 0 13px;
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  line-height: 1;
}

.popup__error {
  width: 100%;
  max-height: 28px;
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  transition: 0.3s;
  overflow: hidden;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__field:last-of-type {
  margin-top: 34px;
  margin-bottom: 10px;
}

.popup__field:first-of-type {
  margin-top: 44px;
}

.popup__button {
  margin-top: 38px;
  padding: 16px 0;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.popup__button:hover {
  opacity: .8;
}

.popup__button_disabled {
  background-color: transparent;
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  cursor: default;
}

.popup__button_disabled:hover {
  opacity: 1;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.popup__close-button {
  position: absolute;
  top: -38px;
  right: -38px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}


@media screen and (max-width: 576px) {
  .popup__form {
    margin: 0 19px;
    padding: 25px 22px;
  }

  .popup__close-button {
    width: 20px;
    top: -38px;
    right: 0;
  }

  .popup__close-button_image {
    top: -23px;
    right: -23px;
  }
}