.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.profile__image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.profile__image {
  display: block;
  width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__edit-image {
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url('../images/Edit_Profile_Picture.svg') no-repeat center;
  background-color: #00000088;
}

.profile__image:hover + .profile__edit-image, .profile__edit-image:hover {
  display: block;
  cursor: pointer;
}

.profile__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  white-space: nowrap;
  overflow: hidden;
}

.profile__info-group {
  display: flex;
  align-items: baseline;
  gap: 18px;
}

.profile__name {
  margin: 0;
  font-size: clamp(22px, -10.381px + 5.952vw, 42px);
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__edit-button {
  width: clamp(18px, -0.545px + 3.409vw, 24px);
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__description {
  font-size: clamp(14px, 1.636px + 2.273vw, 18px);
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__add-button {
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  display: flex;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

.profile__add-button-icon {
  margin: auto;
  width: 22px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 576px) {
  .profile {
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    max-width: 100%;
    margin-top: 30px;
    gap: 14px;
  }

  .profile__info-group {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .profile__description {
    text-align: center;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 100%;
  }

  .profile__add-button-icon {
    width: 16px;
  }
}